.page__footer {
  height: 228px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #011846;
  justify-content: center;
  text-align: center;
  color: white;

  @media screen and (max-width: 550px) {
    height: 252px;
  }
}

.left-block,
.right-block {
  display: inline-flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 138px;

  @media screen and (max-width: 768px) {
    padding: 0 80px;
  }

  @media screen and (max-width: 600px) {
    padding: 0 40px;
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
  }
}

.left-block {
  margin-bottom: 38px;

  @media screen and (max-width: 550px) {
    margin-bottom: 25px;
  }
}

.left-block__logo {
  width: 193.13px;
  height: 48px;
  margin-top: 17px;

  @media screen and (max-width: 550px) {
    width: 128.75px;
    height: 32px;
    margin: 0;
  }
}

.left-block__logo path,
.left-block__logo circle {
  fill: white;
}

.nav-list,
.social-list {
  display: inline-flex;
  list-style: none;


}

.social-list {
  @media screen and (max-width: 550px) {
    margin: 0;
    padding: 0;
  }
}

.nav-list {
  margin-top: 35px;

  @media (max-width: 888px) {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 240px;
  }

  @media screen and (max-width: 550px) {
    padding: 0;
    width: 200px;
    margin-top: 32px;
    margin-bottom: 0;
  }
}

.nav-list__item {
  padding: 0 25px;

  @media (max-width: 965px) {
    font-size: 14px;
    padding: 0 15px;
  }

  @media (max-width: 888px) {
    padding: 5px 15px;
  }

  @media screen and (max-width: 550px) {
    padding: 8px 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.social-list__item {
  padding: 0 12px;
  margin-top: 15px;

  @media screen and (max-width: 550px) {
    &:first-of-type {
      padding-left: 0;
    }
  }



  &:last-of-type {
    padding: 0;
  }
}

.right-block__info {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;

  @media (max-width: 965px) {
    font-size: 12px;
  }
}
